body {
  margin: 0;
  padding: 0;
  background-color: #EBECEE;
  font-family: 'Open Sans', sans-serif;
  color: #333333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  font-size: 21px;
  margin: 10px auto 0px auto;
}
